@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;700&family=Work+Sans:wght@300;400;700&display=swap");

:root {
    --secondary: #3d3d3d;
    --secondary-hover: #5d5d5d;
    /* color for when the primary color is selected */
    --secondary-alt: white;
    --primary: rgb(255, 60, 93);
    --primary-hover: rgb(255, 109, 134);
    /* color to contrast secondary on bg */
    --primary-alt: white;
    --body-background: white;
    --header-bg: gray;
    --header-text: #3d3d3d;
    --body-text: black;
    --alternate-color: blue;
    --highlight-color: green;
    --box-shadow: 0px 0px 5px 5px rgba(0, 0, 0, 0.1);
    --backdrop: rgba(100, 100, 100, 0.5);
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: "Work Sans", sans-serif;
    font-weight: 700;
    color: var(--header-text);
    padding: 0;
    margin: 0;
}

body {
    font-family: "Open Sans", sans-serif;
    font-weight: 400;
    color: var(--body-text);
}
