version: "3.3"

services:
    postgres:
        image: postgres

        environment:
            - POSTGRES_DB=${DB_NAME}
            - POSTGRES_PASSWORD=${DB_PASSWORD}
        networks:
            - appnet
        volumes:
            - core-db:/var/lib/postgresql/data
        command: "-c logging_collector=on"

    api:
        container_name: api
        build:
            context: ./
            dockerfile: Dockerfile.server
        env_file:
            - .env
        volumes:
            - ./server:/app
            - ./logs:/app/logs
        depends_on:
            - postgres
        networks:
            - appnet
        ports:
            - ${PORT}:${PORT}

    client:
        container_name: client
        build:
            context: ./
            dockerfile: Dockerfile.client
        volumes:
            - ./client:/app
        networks:
            - appnet
        depends_on:
            - api
        ports:
            - 5173:5173

    storybook:
        container_name: storybook
        build:
            context: ./
            dockerfile: Dockerfile.storybook
        volumes:
            - ./client:/app
        networks:
            - appnet
        ports:
            - 6006:6006

    prometheus:
        image: prom/prometheus:latest
        container_name: prometheus
        volumes:
            - /etc/localtime:/etc/localtime:ro
            - /etc/timezone:/etc/timezone:ro
            - ./prometheus/prometheus.yml:/etc/prometheus/prometheus.yml
        command:
            - "--config.file=/etc/prometheus/prometheus.yml"
        networks:
            - appnet
        logging:
            driver: none

    grafana:
        image: grafana/grafana:latest
        container_name: grafana
        volumes:
            - /etc/localtime:/etc/localtime:ro
            - /etc/timezone:/etc/timezone:ro
            - ./grafana/grafana.ini:/etc/grafana/grafana.ini
            - ./grafana/provisioning:/etc/grafana/provisioning
            - ./grafana/data:/var/lib/grafana
        ports:
            - ${METRICS_PORT}:3000
        networks:
            - appnet
        logging:
            driver: none

volumes:
    core-db:

networks:
    appnet:
